module.exports = {
    secret : 'rustmanftw',
    salt : 'rzl5wxovlzbjlcvljl1vuxuyaxrhfpvkq58pvdzg',
    email: {
        host: '',
        port: '',
        user: '',
        pass: '',
        from: ''
    }
}